/* HEADER SECTION CSS START */

.header_topbar {
  background-color: #ed0742;
  padding: 10px 0px;
}

.header_topbar_icon {
  height: 16px;
  width: 16px;
  display: inline-block;
}

.topbar_main_content {
  display: flex;
  gap: 16px;
}

.header_topbar_info {
  color: #fff;
  font-family: "PTSans";
  font-size: 14px;
}

.header_icon_with_info {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.navbar_para {
  font-family: "poppinsSemibold";
  text-align: center;
  color: #222222;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  margin-bottom: 0px;
  font-size: 14px;
}

.navbar_para_bottom {
  /* font-family: 'poppinsbold'; */
  font-family: "poppinsExtrabold";
  text-transform: uppercase;
  color: #000;
  text-align: center;
  font-size: 14px;
  padding-top: 6px;
}

.header_light_bold {
  font-family: "poppinsLight";
}

/* HEADER SECTION CSS END */

/* HERO SECTION CSS START */

.hero_response_first_img, .hero_response_second_img{
  display: none;
}

.hero_section {
  padding: 100px 0px 0px;
  background-image: url("../../asserts/images/Layer\ 1.png"),
    url("../../asserts/images/Layer\ 3\ copy.png");
  background-position: top left, top right;
  /* background-size: cover, contain; */
  background-repeat: no-repeat;
  background-size: 60%, 100%;
  /* position: relative; */
}

.hero_section .container-fluid {
  padding: 0px;
  overflow: hidden;
}

.featherImg {
  border: 1px solid #ed074224;
  position: absolute;
  width: 130%;
  bottom: 10px;
  left: 55%;
  transform: translateX(-50%);
  height: 82%;
}

.hero_centered_content {
  border: 5px solid #ed0742;
  width: 350px;
  margin: 0 auto;
  position: relative;
}

.content_with_border::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
  border-left: 2px solid #ed0742;
  display: block;
  background-color: transparent;
  top: 0;
  left: 0;
}

.content_with_border::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
  border-right: 2px solid #ed0742;
  display: block;
  background-color: transparent;
  bottom: 0;
  right: 0;
}

.content_with_border {
  padding: 40px 25px;
  position: relative;
  border-top: 2px solid #ed0742;
  border-bottom: 2px solid #ed0742;
  margin: 6px;
}

.brand_name_title {
  font-family: "khandMedium";
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

.ebook_publisher_title {
  font-family: "Jomolhari";
  font-size: 58px;
  text-align: center;
  word-spacing: 0px;
  padding-top: 20px;
  position: relative;
  z-index: 20;
}

.avail_discount_text {
  font-family: "khandMedium";
  text-align: center;
  font-size: 18px;
}

.brilliant_mind_section {
  margin-top: -310px;
  position: relative;
  z-index: 10;
  padding: 500px 0px 300px;
  background-image: url("../../asserts/images/bk.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* -webkit-mask-image: url("./second-shape.png"); */
  /* mask-image: url("./second-shape.png"); */
  /* -webkit-mask-repeat: no-repeat; */
  /* mask-repeat: no-repeat;     */
}

.book_img img {
  width: 60%;
}

.polygonImg01 {
  width: 220px;
  height: 200px;
  position: absolute;
  right: 17%;
  top: 12%;
}

.polygonImg02 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 9%;
  bottom: 6%;
}

.polygonImg02 img {
  width: 100%;
  height: 100%;
}

.polygonImg01 img {
  width: 100%;
  height: 100%;
}

.book_main_box {
  position: relative;
}

.book_semicircle_box {
  position: absolute;
}

.book_semicircle_box {
  position: absolute;
  width: 70%;
  height: 180px;
  border: 2px solid #f20543;
  border-style: dashed;
  border-bottom: none;
  border-radius: 170px 169px 0px 0px;
  left: 50%;
  transform: translateX(-50%);
}

.book_img {
  padding-top: 40px;
}

.first_semi {
  position: absolute;
  left: -18px;
  top: 50%;
  transform: translateY(-50%);
}

.first_semi img,
.second_semi img,
.third_semi img {
  width: 72px;
}

.second_semi {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
}

.third_semi {
  position: absolute;
  bottom: -40px;
  right: -35px;
}

.circle_with_semi {
  position: absolute;
  left: -75px;
  bottom: -130px;
}

.circle_with_semi img,
.circle_with_semi2 img {
  width: 150px;
}

.circle_with_semi2 {
  position: absolute;
  transform: rotate(185deg);
  right: -27%;
  top: -50px;
}

.redCircleBehindBook {
  position: absolute;
  right: 30px;
  bottom: 0;
  width: 50%;
}

.redCircleBehindBook img {
  width: 100%;
  position: relative;
  z-index: -2;
}

.marquee-container {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 150px;
  overflow-x: hidden;
}

.trustedPartners {
  display: flex;
  gap: 50px;
}

.trustedPartner {
  padding: 14px 50px;
  transition: filter 0.3s ease;
  position: relative;
}
.trustedPartner img {
  transition: filter 0.3s ease;
}

.marquee {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  width: 200%;
  animation: marquee 10s linear infinite;
  border-top: 1px solid #ed0742;
  border-bottom: 1px solid #ed0742;
}

.duolingo_Under_img {
  text-align: center;
  height: 85%;
}

.duolingo_Under_img img {
  height: 100%;
  width: 100%;
}

#parent-circle {
  position: relative;
  width: 85%;
  height: 765px;
  border: 3px solid #ed0742;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: transform 0.7s linear;
  animation: rotate 7s infinite linear;
  transform: translateX(-25%);
  display: flex;
  justify-content: center;
  align-items: center;

  .circle {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    /* top: 50%;  */
    /* left: 50%; */

    &.blue {
      top: 6%;
      transform: translate(14vw);
    }
    &.pink {
      right: 7%;
      top: -11%;
      transform: rotate(72deg) translate(14vw) rotate(-72deg);
    }
    &.lime {
      right: -10%;
      transform: rotate(144deg) translate(1vw) rotate(-144deg);
    }
    &.orange {
      right: 24%;
      transform: rotate(216deg) translate(-14vw) rotate(-216deg);
    }
    &.teal {
      right: -4%;
      transform: rotate(288deg) translate(-16vw) rotate(-288deg);
    }
  }
}

.duolingo_tab_img {
  position: relative;
  width: 100%;
  height: 100%;
}

.duolingo_tab_title {
  position: absolute;
  top: 45%;
  left: 100%;
  transform: translate(0%, -50%);
  font-size: 22px;
  width: 180px;
  /* margin: 0; */
  margin-left: 10px;

}

.helping_things_section {
  background-image: url("../../asserts/images/bk-for-helping.png");
  background-size: 105% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.first_banner_section {
  background-image: url("../../asserts/images/1bannerbk.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px 0px;
  background-position: right;
}

.category_section {
  background-image: url("../../asserts/images/ebook.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 60px 0px 200px;
  position: relative;
  overflow: hidden;
}
.category_section2 {
  /* background-image: url("../../asserts/images/ebook.png"); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 60px 0px 200px;
  position: relative;
  overflow: hidden;
}
.category_section .sec_title {
  text-align: center;
}

.arc {
  height: 550px;
  width: 550px;
  border-top: 3px solid #f20543;
  border-left: 3px solid #f20543;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  transform: rotate(315deg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.first_category {
  height: 20px;
  width: 20px;
  border: 2px solid #ed0742;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: -12px;
  left: 50%;
}

.second_category {
  height: 20px;
  width: 20px;
  border: 2px solid #ed0742;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 6px;
  left: 30%;
}

.third_category {
  height: 20px;
  width: 20px;
  border: 2px solid #ed0742;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 70px;
  left: 12%;
}

.forth_category {
  height: 20px;
  width: 20px;
  border: 2px solid #ed0742;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 170px;
  left: 1%;
}

.fifth_category {
  height: 20px;
  width: 20px;
  border: 2px solid #ed0742;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 275px;
  left: -2%;
}

.imgUnderArc {
  height: 90%;
  width: 90%;
  position: relative;
}

.imgUnderArc img {
  height: 100%;
  width: 100%;
}

.A4book {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: rotate(45deg) translate(-50%, 17%);
  width: 70% !important;
  height: 90% !important;
  object-fit: cover;
}

.first_category_detail {
  position: absolute;
  transform: rotate(45deg) translateX(-120%);
  width: 540px;
  display: flex;
  flex-direction: row-reverse;
  top: 235px;
  align-items: center;
}

.category_details {
  height: 1px;
  display: inline-block;
  min-width: 190px;
  border-style: dashed;
  border-width: 0.5px;
  border-color: #898989;
}

.category_detail_icon img {
  width: 60px;
}

.category_detail_desc {
  display: inline-block;
  text-align: end;
  padding-right: 20px;
}

.category_bk {
  position: absolute;
  left: 0;
  height: 70%;
  width: 100%;
}

.category_bk img {
  width: 100%;
  height: 100%;
}

.second_banner_section {
  position: relative;
  background-image: url("../../asserts/images/2bannerbk.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 220px 0px 0px;
  overflow: hidden;
}

/* .banner_left_img{

  } */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-9%);
  }
}

/* HERO SECTION CSS END */

/* Usama Css Start */
/* Sec Title Css */
.trustedPartner:hover {
  background: #ed0742;
}
.trustedPartner:hover img {
  filter: brightness(0) invert(1);
}
.trustedPartner:after {
  content: "";
  width: 1px;
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
}
/* .main_helping_content {
  padding-right: 300px;
} */

.helping_tab_para {
  padding-right: 200px;
}

.helping_tab_img {
  max-width: 150px;
}
.helping_tab_img img {
  width: 100%;
}

.first_banner_section .sec_title {
  color: #fff;
}

.second_banner_section .sec_title {
  text-align: center;
  color: #fff;
}
.banner_left_img,
.banner_right_img {
  position: absolute;
  max-width: 400px;
}
.banner_right_img {
  right: 0;
  top: 0;
}
.banner_left_img {
  left: 0;
  top: 0;
}
.banner_left_img img,
.banner_right_img img {
  width: 100%;
}

.publish_book_sec .sec_title {
  text-align: center;
}

.publish_book_sec {
  background-image: url("../../asserts/images/publish-book-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 20px 0px 80px;
  position: relative;
  overflow: hidden;
}
.publish_polygon {
  position: absolute;
  max-width: 200px;
  left: -70px;
  bottom: 350px;
}
.publish_polygon_3 {
  position: absolute;
  max-width: 200px;
  right: -117px;
  top: 100px;
}
.publishBgPattern {
  position: absolute;
  left: 0;
  width: 100%;
}
.publishBgPattern img {
  width: 100%;
  height: 100%;
}

.testimonial {
  position: relative;
  padding: 0 0 60px;
  overflow: hidden ;
}

.testimonial_quotes {
  width: 60px;
  margin-bottom: 15px;
}
.testimonial_polygon {
  position: absolute;
  max-width: 200px;
  left: -30px;
  bottom: 50px;
}

.category_circle{
  display: flex;
  justify-content: center;
}

.progress_sec {
  background: #ed0742;
  text-align: center;
  color: #fff;
}


.publication_sec{
  position: relative;
  overflow: hidden;
}
.publication_polygon {
  position: absolute;
  max-width: 200px;
  left: -70px;
  top: 100px;
}
.publication_polygon_3 {
  position: absolute;
  max-width: 200px;
  right: -117px;
  bottom: 100px;
}

.publication_images {
  position: relative;
}
.publicationBook1 {
  width: 100%;
  transform: scale(1.6);
  transform-origin: top;
}
.publicationBook2 {
  width: 80%;
  position: relative;
  left: -20%;
  z-index: 2;
}
.audio_player {
  max-width: 300px;
  position: absolute;
  bottom: 100px;
  right: 0;
  z-index: 9999;
}
.audio_player audio::-webkit-media-controls-panel {
  background-color: #ed0742;
}
.audio_player audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: #ffffff;
}

.sec_title {
  padding: 40px 0;
}
.sec_title h2 {
  font-size: 42px;
  font-family: "Jomolhari", serif;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}
.sec_title h3 {
  font-family: "Hind", sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: #ec0742;
}
.sec_title h4 {
  font-size: 26px;
  font-family: "Jomolhari", serif;
}

.sec_title p {
  font-size: 15px;
  line-height: 1.7;
  font-family: poppinsRegular;
}

/* Brand Btn */
.brand_btn {
  background-image: url("../../asserts/images/btn-bg.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: unset;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ec0742;
  padding: 16px 50px;
}

.btn_with_icon {
  border: 1px solid red;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  padding: 10px 30px;
  border-radius: 10px;
  color: #F20543;
  font-family: 'PTSans';
}

.color-red {
  color: #ed0742;
}
.btn-red{
  background-color: #ed0742;
  color: #fff;
}
.hero_btns {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.category_polygonImg01 {
  width: 220px;
  height: 200px;
  position: absolute;
  right: 0;
  bottom: 6%;
}
.category_polygonImg01 img{
  width: 100%;
  height: 100%;
}

/* Process Sec Start */
.process_sec {
  /* padding: 60px 0; */
  position: relative;
  overflow: hidden;
}
.process_feather {
  position: absolute;
  right: 0;
  max-width: 200px;
}
.process_sec .row {
  align-items: center;
  margin: 50px 0;
}
.process_rows:nth-child(odd) {
  flex-direction: row-reverse;
}

.process_sec .sec_title h2 {
  text-align: center;
}
.process_step {
  font-size: 20px;
  font-family: "Hind", sans-serif;
  font-weight: 600;
}
.process_step:before {
  content: "";
  display: block;
  background: #ed0742;
  width: 38px;
  height: 2px;
  margin-bottom: 4px;
}
.process_content_title {
  font-size: 30px;
  font-family: "Jomolhari", serif;
  font-weight: 400;
}
.process_content p {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.process_counter h1 {
  font-size: 210px;
  font-family: "Hind", sans-serif;
  font-weight: 700;
  color: #181818;
  opacity: 0.1;
}

/* Process Sec End */

/* Faqs Start */
.faqs_sec .accordion-button {
  background: linear-gradient(45deg, #f47d9c 0%, #ed0742 100%);
  border: none;
  padding: 18px;
  border-radius: 25px !important;
  text-decoration: none;
  background-color: transparent;
  width: 100%;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
}
.faqs_sec .accordion-button:focus {
  box-shadow: unset;
}
.faqs_sec .card_btn_content {
  color: #fff;
  font-size: 15px;
}
.faqs_sec .accordion-body {
  padding: 0px 16px 16px;
}
.numbering {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
}
.faqs_sec .accordion-item {
  /* border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important; */
  border-radius: 25px;
  margin: 16px 0;
  position: relative;
  z-index: 999;
  background: #fff;
}
.faqs_sec .accordion-button::after {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
  border: 1px solid #000;
  background-size: 16px;
  border-radius: 50%;
  padding: 10px;
  opacity: 1;
  background-position: center;
}
.faqs_sec .sec_title h2 {
  text-align: center;
}
.faqs_sec {
  padding: 130px 0 100px;
  background-image: url("../../asserts/images/faq-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}
/* Faqs End */

/* Get Touch Start */
.get_touch_sec {
  background-color: #ed0742;
  padding: 40px 0 40px;
  /* overflow: hidden; */
}
.get_touch_title .sec_title h2 {
  font-size: 62px;
  color: #fff;
  position: relative;
  z-index: 2;
}
.get_touch_img img {
  width: 100%;
  transform: scale(2.8) translateX(-26px);
  transform-origin: center;
}
.get_touch_form {
  position: relative;
  z-index: 333;
}
.get_touch_form .form-control {
  background: transparent;
  color: #fff;
  border: unset;
  border-bottom: 1px solid #fff;
  border-radius: 0;
}
.get_touch_form .form-control:focus {
  box-shadow: unset;
  background-color: transparent;
  border-bottom-color: #fff;
  color: #fff;
}
.get_touch_form .form-control::placeholder {
  color: #fff;
}

/* Footer Start */
.footer_social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.footer_social_text {
  font-family: "PTSans";
}
.footer {
  background: #ed0742;
}

.footer_inner_div {
  border-top-left-radius: 200px;
  background: #fff;
  padding-top: 60px;
}
.footer_subhead {
  font-family: "PTSans";
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 20px;
}
.footer_links {
  list-style: none;
  padding-left: 0;
}
.footer_link a {
  display: block;
  color: #000;
  font-family: "PTSans";
  text-transform: capitalize;
  opacity: 0.6;
  line-height: 1.7;
}
.footer_spacer {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 20px 0 30px;
}

.footer_avail-text {
  font-family: "PTSans";
  font-weight: 700;
  font-size: 25px;
  color: #312a92;
  margin-bottom: 0;
}
.avail_btn {
  border: unset;
  background: #ed0742;
  color: #fff;
  font-family: "PTSans";
  font-weight: 700;
  font-size: 16px;
  padding: 8px 40px;
  border-radius: 10px;
  margin: 16px 0;
}
.footer_avail {
  text-align: center;
}
.footer_payment {
  text-align: center;
}
.footer_payment-text {
  font-family: "PTSans";
  font-weight: 900;
  font-size: 21px;
  color: #312a92;
  margin: 20px 0;
  text-transform: uppercase;
}
.footer_extra_links .footer_links {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer_termCondition_links .footer_links {
  margin-bottom: 0;
  display: flex;
  justify-content: end;
  gap: 16px;
}
.footer_termCondition_links .footer_links a {
  color: #fff;
  opacity: 1;
}
.copyright p {
  margin-bottom: 0;
  color: #fff;
  font-family: "PTSans";
}
.copyright_sec {
  padding: 12px 0;
}
.footer_brand_imgs {
  margin-bottom: 30px;
}
/* Footer End */
/* Get Touch End */
/* Usama Css End */




.first_category_detail_below{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  padding-bottom: 14px;
}

.category_detail_desc_below{
  text-align: left;
}

.details_after_category{
  padding: 30px 0px;
  display: none;
}


.single_duolingo_tab_below{
  display: flex;
align-items: center;
gap: 12px;
justify-content: center;
}

.duolingo_tab_img_below{
  height: 60px;
width: 60px;
}

.main_duolingo_tab_below{
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
  padding-top: 24px;
}


/* .navbar-collapse{
  background-color: rgb(233, 233, 233);
  z-index: 10;
  padding: 14px;
  margin-top: 8px;
  border-radius: 10px;
} */
