

/* HEADER SECTION CSS START */

.header_topbar{
    background-color: #ED0742;
    padding: 10px 0px;
}

.header_topbar_icon{
    height: 16px;
    width: 16px;
    display: inline-block;
}

.topbar_main_content{
    display: flex;
    gap: 16px;
}

.header_topbar_info{
    color: #fff;
    font-family: "PTSans";
    font-size: 14px;
}

.header_icon_with_info{
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.navbar_para{
    font-family: 'poppinsSemibold';
    text-align: center;
    color: #222222;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin-bottom: 0px;
    font-size: 14px;
}

.navbar_para_bottom{
    /* font-family: 'poppinsbold'; */
    font-family: 'poppinsExtrabold';
    text-transform: uppercase;
    color: #000;
    text-align: center;
    font-size: 14px;
    padding-top: 6px;
}

.header_light_bold{
    font-family: 'poppinsLight';
}


/* HEADER SECTION CSS END */






/* HERO SECTION CSS START */

.hero_section{
    padding: 40px 0px 0px;
    background-image: url("../../asserts/images/Layer\ 1.png"), url("../../asserts/images/Layer\ 3\ copy.png");
    background-position: top left, top right;
    /* background-size: cover, contain; */
    background-repeat: no-repeat;
    background-size: 60%, 100%;
}

.hero_section .container-fluid{
    padding: 0px;
    overflow: hidden;
}

.featherImg{
    border: 1px solid #ed074224;
    position: absolute;
    width: 130%;
    bottom: 10px;
    left: 55%;
    transform: translateX(-50%);
    height: 82%;
}

.hero_centered_content{
    border: 5px solid #ED0742;
    width: 350px;
    margin: 0 auto;
    position: relative;
}

/* .content_with_border::before{
    position: absolute;
    height: 100px;
    width: 100%;
    border-top: 1px solid #ED0742;
    border-left: 1px solid #ED0742;
    display: block;
    background-color: #000;
    top: 0;
} */

.content_with_border{
    padding: 40px 25px;
    /* position: relative; */
    border-top: 2px solid #ED0742;
    border-bottom: 2px solid #ED0742;
    margin: 6px;
}

.brand_name_title{
    font-family: 'khandMedium';
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}

.ebook_publisher_title{
    font-family: 'Jomolhari';
    font-size: 58px;
    text-align: center;
    word-spacing: 0px;
    padding-top: 20px;
    position: relative;
    z-index: 20;
}

.avail_discount_text{
    font-family: 'khandMedium';
    text-align: center;
    font-size: 18px;
}

.brilliant_mind_section{
    margin-top: -310px;
    position: relative;
    z-index: 10;
    padding: 500px 0px;
    /* background-color: rgb(111, 145, 175); */
    background-image: url("../../asserts/images/bk.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
        /* -webkit-mask-image: url("./second-shape.png"); */
        /* mask-image: url("./second-shape.png"); */
        /* -webkit-mask-repeat: no-repeat; */
        /* mask-repeat: no-repeat;     */
}

.book_img img{
    width: 70%;
}

/* HERO SECTION CSS END */