

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PTSans";
  src: url("./asserts/fonts/PTSans-Regular.ttf");
}

a:hover{
  text-decoration: none;
}

@font-face {
  font-family: 'poppinsRegular';
  src: url('./asserts/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'poppinsLight';
  src: url('./asserts/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'poppinsMedium';
  src: url('./asserts/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'poppinsbold';
  src: url('./asserts/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'poppinsSemibold';
  src: url('./asserts/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'poppinsExtrabold';
  src: url('./asserts/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'khandRegular';
  src: url('./asserts/fonts/Khand-Regular.ttf');
}

@font-face {
  font-family: 'khandBold';
  src: url('./asserts/fonts/Khand-Bold.ttf');
}

@font-face {
  font-family: 'khandMedium';
  src: url('./asserts/fonts/Khand-Medium.ttf');
}

@font-face {
  font-family: 'Jomolhari';
  src: url('./asserts/fonts/Jomolhari-Regular.ttf');
}
@font-face {
  font-family: 'Hind';
  src: url('./asserts/fonts/Hind.ttf');
}



@media(max-width: 1800px){
  #parent-circle {
      height: 690px !important;
  }



  }

  @media(max-width: 1680px){
    .duolingo_Under_img {
      height: 75% !important;
    }
  
  
    }

    @media(max-width: 1700px){
      /* .main_helping_content {
        padding-right: 300px;
      } */
    }

    @media(max-width: 1600px){
      /* .main_helping_content {
        padding-right: 250px;
      } */
    }

    @media(max-width: 1500px){
      /* .main_helping_content {
        padding-right: 200px;
      } */
    }

    @media(max-width: 1400px){
      /* .main_helping_content {
        padding-right: 150px;
      } */
    }

    @media(max-width: 1300px){
      /* .main_helping_content {
        padding-right: 100px;
      } */
    }

    @media(max-width: 1300px){
      /* .main_helping_content {
        padding-right: 70px;
      } */
    }


    @media (max-width: 1600px) {
      #parent-circle {
          height: 670px !important;
      }
  }

  @media (max-width: 1550px) {
    #parent-circle {
        height: 620px !important;
    }
}

@media (max-width: 1440px) {

  .banner_left_img, .banner_right_img {
    position: absolute;
    max-width: 290px !important;
}

.banner_right_img {
  right: -4% !important;
}


  #parent-circle {
      height: 600px !important;
  }

  .polygonImg01 {
    width: 150px !important;
    height: 150px !important;
}

#parent-circle{
  .circle{
    height: 70px !important;
    width: 70px !important;
  }

}

.arc {
  height: 420px !important;
  width: 420px !important;
}

.category_details {
      min-width: 90px !important;
  }

  .second_category {
      left: 27%  !important;
  }

  .third_category {
  left: 8% !important;
}

.forth_category {
  top: 146px !important;
  left: -2% !important;
}

.fifth_category {
  top: 253px !important;
  left: -2% !important;
}

}

@media (max-width: 1370px) {
  #parent-circle {
      height: 570px !important;
  }
}

@media (max-width: 1300px) {
  #parent-circle {
      height: 560px !important;
  }

  .category_details {
    min-width: 120px !important;
  }

  .category_section {
    padding: 60px 0px 250px !important;
    position: relative;
}

  /* .category_circle{
    display: flex;
    justify-content: center;
  } */
}

@media (max-width: 1250px) {
  #parent-circle {
      height: 480px !important;
  }
}

@media(max-width: 1200px){
  /* #parent-circle{
    .circle{
      height: 70px !important;
      width: 70px !important;
    }

  } */

   .category_circle{
    justify-content: end !important;
  }

  .circle_with_semi2 {
    right: -36% !important;
    top: -53px !important;
}

.circle_with_semi {
  left: -85px !important;
  bottom: -128px !important;
}


  .helping_tab_para {
    padding-right: 100px !important;
}

    .polygonImg01{
      width: 120px !important;
      height: 110px !important;
      top: 15%;
  }

  .sec_title h2{
    font-size: 27px !important;
  }

  .sec_title p{
    font-size: 14px !important;
  }
  

  .ebook_publisher_title{
    font-size: 38px !important;
  }
}

@media (max-width: 1130px) {
  #parent-circle {
      height: 460px !important;
  }
}

@media (max-width: 1080px) {
  #parent-circle {
      height: 430px !important;
  }
}


@media (max-width: 990px){

  .category_circle {
    justify-content: center !important;
}


  .details_after_category{
    display: block !important;
  }

  .first_category, .second_category, .third_category, .forth_category, .fifth_category{
    display: none;
}

  .topbar_main_content{
    justify-content: end;
}

.get_touch_img img {
  width: 100%;
  transform: scale(1.1) translateX(0px) !important;
  transform-origin: center !important;
}

#parent-circle{
	width: 400px !important;
	height: 400px !important;
  transform: translateX(15%) !important;
}

.duolingo_tab_title{
  width: 180px !important;
  font-size: 16px !important;
}

#parent-circle{
  .circle{
    height: 50px !important;
    width: 50px !important;
  }

}

.making_none{
  display: none;
}

.hero_response_first_img, .hero_response_second_img{
  display: block !important;
}

.hero_response_first_img{
  width: 250px;
  position: absolute;
  top: 5%;
  left: 0;
}

.hero_response_first_img img, .hero_response_second_img img{
width: 100%;
}

.hero_response_second_img{
  width: 250px;
  position: absolute;
  right: 0;
  bottom: 5%;
}


.brilliant_mind_section {
  margin-top: -518px !important;
  padding: 710px 0px 420px !important;
  background-size: 120% 100% !important;
}

.polygonImg01 {
  top: 20% !important;
}


.book_semicircle_box {
  width: 60% !important;
}

.book_img img {
  width: 50% !important;
}

.polygonImg02 {
  width: 120px;
  height: 120px;
  bottom: 8%;
}

.first_banner_section{
  padding: 500px 0px 0px !important;
  margin-top: -400px !important;
}

}

@media(max-width: 890px){

  #parent-circle {
    & .circle {
        &.pink {
            transform: rotate(72deg) translate(16vw) rotate(-72deg) !important;
        }
    }
}

#parent-circle {
    & .circle {
        &.teal {
            right: -2% !important;
            transform: rotate(288deg) translate(-19vw) rotate(-288deg) !important;
        }
    }
}


#parent-circle {
    & .circle {
        &.orange {
            right: 28% !important;
            transform: rotate(216deg) translate(-17vw) rotate(-216deg) !important;
        }
    }
}


}

@media(max-width: 768px){

  #parent-circle {
    & .circle {
        &.blue {
            top: 0% !important;
        }
    }
}

#parent-circle {
    & .circle {
        &.pink {
            right: 9% !important;
        }
    }
}


#parent-circle {
        & .circle {
            &.teal {
                right: 0% !important;
                transform: rotate(288deg) translate(-23vw) rotate(-288deg) !important;
            }
        }
    }

    #parent-circle {
        & .circle {
            &.orange {
                right: 29% !important;
                transform: rotate(216deg) translate(-20vw) rotate(-216deg) !important;
            }
        }
    }

    .first_banner_section {
      margin-top: -290px !important;
  }

  .category_details {
    min-width: 70px !important;
}

.banner_left_img, .banner_right_img {
  max-width: 200px !important;
}

}

@media(max-width: 767px){

  .navbar-collapse {
    background-color: rgb(233, 233, 233) !important;
    z-index: 10;
    padding: 14px !important;
    margin-top: 8px !important;
    border-radius: 10px !important;
}

  .making_it_none{
    display: none !important;
  }

  #parent-circle{
    margin: 0 auto;
  }

  .main_duolingo_tab_below{
    display: flex !important;
  }

  .parent-circle{
    margin: 0 auto;
}

#parent-circle {
  transform: translateX(0%) !important;
}

  .hero_btns{
    flex-wrap: wrap;
  }

  .hero_btns button{
    width: 100%;
  }

  .hero_centered_main{
    padding-top: 20px;
  }
}

@media(max-width: 650px){

  .hero_response_first_img, .hero_response_second_img{
    width: 200px;
  }

  .hero_centered_content{
    width: 100% !important;
}

}


@media(max-width: 640px){

  .hero_response_first_img, .hero_response_second_img{
    width: 150px;
  }


}

@media(max-width: 425px){
  .hero_section{
    padding: 80px 0px 0px !important;
  }

  .ebook_publisher_title {
    font-size: 30px !important;
}

.brand_name_title{
  font-size: 22px !important;
}

.brilliant_mind_section {
  margin-top: -450px !important;
 
}

.book_img img {
  width: 40% !important;
}

.first_semi img, .second_semi img, .third_semi img {
  width: 52px !important;
}


.book_semicircle_box {
  height: 112px !important;
}

.circle_with_semi img, .circle_with_semi2 img {
  width: 90px !important;
}


.circle_with_semi {
      left: -55px !important;
      bottom: -76px !important;
  }


  .circle_with_semi2 {
      right: -17% !important;
      top: -48px !important;
  }

  #parent-circle {
    width: 290px !important;
    height: 290px !important;
   
}

.helping_tab_para {
    padding-right: 50px !important;
}

.first_banner_section{
  margin-top: -260px !important;
  padding: 350px 0px 0px !important;
}

.first_category_detail_below{
  justify-content: center;
}

.category_detail_desc_below{
  text-align: center !important;
}

.category_section{
  background-size: 115% 100% !important;
}

.category_polygonImg01 {
width: 90px !important;
height: 90px !important;
bottom: 9% !important;
}


.banner_left_img, .banner_right_img {
  max-width: 110px !important;
}

.second_banner_section {
padding: 134px 0px 0px !important;
}

.banner_right_img{
top: 10% !important;
}

.testimonial_polygon {
  max-width: 130px !important;
  bottom: 20px !important;
}


.publicationBook1 {
  transform: scale(1) !important;
}

.publicationBook2 {
  width: 70% !important;
  position: relative;
  left: 0% !important;
  z-index: 2;
  transform: translateY(-100px) !important;
}

.audio_player {
  max-width: 160px !important;
  bottom: 160px !important;
  right: 50% !important;
}

.footer_social_item img{
  width: 30px;
}

.footer_social{
  padding-top: 30px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) !important;
}

.sec_title h2 {
  font-size: 20px !important;
}

.get_touch_sec {
  overflow: hidden !important;
}
}
@media (max-width: 375px) {
  .audio_player {
      bottom: 102px !important;
  }
}